/* styles.css */

/* Common styles */
.center-text {
  text-align: center;
}

h2 {
  font-size: 36px; /* Adjust font size */
  font-family: Arial, sans-serif; /* Choose a suitable font family */
  color: #333; /* Set text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow for better visibility */
  margin-bottom: 20px; /* Add some space below the text */
}

#image-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(33.33% - 20px), 1fr)
  ); /* Three images per row */
  gap: 20px; /* Gap between images */
  padding: 20px; /* Default padding */
  margin: 100px; /* Default margin */
}

.img-wrapper {
  background-color: #000;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%; /* Ensure each image wrapper takes up full width of its grid column */
  height: auto;
}

.gallery-img {
  width: 100%;
  height: 80%;
  max-width: 100%;
  object-fit: cover; /* Crop the image */
}

.overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 4rem;
  height: 4rem;
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 20%;
}

h1 img {
  width: 500px; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for screens smaller than 768px (typical tablets and mobile phones) */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px; /* Decrease font size for smaller screens */
    margin-bottom: 10px; /* Reduce margin bottom */
  }

  #image-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100%, 1fr)
    ); /* Single image per row */
    gap: 10px; /* Reduce gap between images */
    padding: 10px; /* Reduce padding */
    margin: 20px; /* Reduce margin */
  }

  .img-wrapper {
    border-radius: 0; /* Remove border radius */
  }

  .overlay {
    width: 3rem; /* Reduce overlay size */
    height: 3rem; /* Reduce overlay size */
  }

  h1 img {
    width: 150px; /* Reduce header image size */
    height: 150px; /* Reduce header image size */
  }

  .gallery-img {
    object-position: center; /* Adjust the position of the cropped area */
  }
}
